<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
    </head>
    <body ng-controller='Demo'>
        Name: <input ng-model='name' />
        <ul>
            <li ng-repeat='user in hello'>{{user}}</li>
           
            
        </ul>    <div demo-greet='name'></div>
            <!--
             <demo-greet demo-greet="name"></demo-greet>//E
            <div class="demo-greet:name"> //C
          <div demo-greet='name'>//A
            -->
            
    </body>
</html>
